<header>
    <button id="nightmode">
        <span class="material-symbols-outlined">
        partly_cloudy_night
        </span>
    </button>
    <div id="clock"></div>
    <h2>MAT-POL</h2>
</header>