<!DOCTYPE html>
<html lang="pl">
<%- include('head') -%>

<body>
<%- include('header') -%>
<%- include('nav') -%>

<article>
  <h1>informacje o firmie</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas tempore perferendis fugit animi hic cupiditate molestias odit, dolore quibusdam veritatis natus sapiente quisquam vel praesentium neque, deserunt aspernatur debitis repellat libero ea! Ipsa reiciendis ullam, similique quae fugit possimus incidunt quam id, libero et facilis! Quae sapiente molestias eius unde!
  </p>
  <h1>kontakt</h1>
  <p>
    tel:111 222 333
  </p>
  <p>
    email:materace@materace.pl
  </p>
</article>

<%- include('foot') -%>
</body>
</html>



