<nav>
      <span class="material-symbols-outlined" id="dropdown">
        menu
        </span>
    <ul id="links">
        <li><a href="/">strona glowna</a></li>
        <li><a href="/katalog">katalog</a></li>
        <li><a href="/informacje">Informacje</a></li>
        <li><a href="/komentarze">Komentarze</a></li>
    </ul>
</nav>